<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2e56293d-4564-4477-a199-90392322c23d" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2e56293d-4564-4477-a199-90392322c23dfileName">http%3A%2F%2Flocalhost</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://sanketh.io</con:endpoint>
  </con:endpoints>
</con:interface>
